<div class="container">
  <div class="row">
    <div class="col-md-9 col-sm-12">
      <div class="rogo"><strong>子育てネット</strong>とは</div>
      <div class="about_title">子育てをもっと楽しく</div>
      <div class="indent">
        このサイトは、子育てや保育経験者の方、現在子育てをしている人をはじめ様々な人がつながって網のようになり、子育てをしている一人ひとりの不安や孤独感を解消したいという思いから<strong>「子育てネット」</strong>と名付けました。
      </div>
      <div class="about_heading">子育てネットの2つの特徴</div>
      <div class="about_list">01. 投稿やコメントで子育ての体験を共有できる</div>
      <div class="indent"><%= link_to "投稿の一覧画面を見る", posts_path %></div>
      <div class="about_list">02. 質問や回答で子育ての悩みを相談し、アドバイスをもらうことができる</div>
      <div class="indent"><%= link_to "質問一覧を見る", questions_path %></div>
      <div class="about_heading">子育てネットの便利＆楽しみ方</div>
      <div class="about_list">01. 質問者に対して、一人じゃないよと伝えられる</div>
      <div class="indent">
        質問には、<i class="fas fa-smile" aria-hidden="true"></i>「共感した」ボタンがついていて、そのボタンを押すことで質問者に同じようなことで悩んでいる人がいること、共感してくれる人がいることを伝えることができます。
      </div>
      <div class="about_list">02. 気になるタグで検索できる</div>
      <div class="indent">
        投稿や質問にはいろいろなタグが付いています。<br>
        自分の探しているもの、気になったものをぜひ検索してみてください！</div>
        <div class="about_list">03. チャットができる</div>
      <div class="indent">
        チャットで気になる会員とメッセージを送り合うことができます。</div>
    </div>
    <div class="col-md-3 col-sm-12 search">
      <%= render 'posts/search' %>
    </div>
  </div>
</div>