<table class="table table-hover table-inverse">
  <thead>
    <tr>
      <th class="th-02">名前</th>
      <th class="th-03">タイトル</th>
      <th class="th-01"></th>
      <th class="th-04">タグ</th>
    </tr>
  </thead>

  <tbody>
    <% posts.each do |post| %>
      <tr class="posts_<%= post.id %>">
        <%= render '/posts/post', post: post %>
      </tr>
    <% end %>
  </tbody>
</table>